<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Events</title>
  </head>
  <body>
    <h1>Welcome, <%=current_user.first_name%></h1>
    <h2>Here are some of the events at your state:</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Host</th>
        <th>Action/Status</th>
      </tr>
      <% @your_events.each do |event| %>
      <tr>
        <td><a href ='/events/<%=event.id%>'><%= event.name %></a></td>
        <td><%= event.date.strftime('%B %e %Y') %></td>
        <td><%= event.city %></td>
        <td><%= event.user.first_name %></td>
        <td>
          <% if event.user == current_user %>
          <a href ='/events/<%=event.id%>/edit'>Edit</a> <a href= "/events/<%=event.id%>" data-method='delete'>Delete</a>
          <% else %>
            <% unless event.users_attend.include?(current_user) %>
            <a href="/attends/<%=event.id%>" data-method='post'>Join</a>
            <% else %>
            Joining <a href="/attends/<%=event.id%>" data-method='delete'>Cancel</a>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <h2>Here are some of the events in other states:</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Host</th>
        <th>Action</th>
      </tr>
      <% @events.each do |event| %>
      <tr>
        <td><a href ='/events/<%=event.id%>'><%= event.name %></a></td>
        <td><%= event.date.strftime('%B %e %Y') %></td>
        <td><%= event.city %></td>
        <td><%= event.user.first_name %></td>
        <td>
          <% if event.user == current_user %>
          <a href ='/events/<%=event.id%>/edit'>Edit</a> <a href= "/events/<%=event.id%>" data-method='delete'>Delete</a>
          <% else %>
            <% unless event.users_attend.include?(current_user) %>
            <a href="/attends/<%=event.id%>" data-method='post'>Join</a>
            <% else %>
            Joining <a href="/attends/<%=event.id%>" data-method='delete'>Cancel</a>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <h1>Add Event</h1>
    <form action="/add" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type = 'hidden' name='event[user_id]' value="<%=current_user.id%>">
      <label>Name<input type="text" name="event[name]"></label>
      <label>Date<input type="date" name="event[date]"></label>
      <label>Location<input type="text" name="event[city]">
      <%= select_tag :'event[state]', options_for_select(us_states) %></label>
      <input type="submit" value="Add Event">
    </form>
  </body>
</html>
